div {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font: inherit;
    vertical-align: baseline;
}



.Main {
    font-size: 10px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    padding: 0px 20px;
    border: 1px solid rgb(225, 225, 225);
    box-shadow: 2px 2px 2px 2px gray ;
}

.Main .logo {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-family:sans-serif;
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
}

.Main .exit{
    cursor: pointer;
    
}

.exit {
    font-size: 24px;
    line-height: 1;
    letter-spacing: nomal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}


.add-Main {
    display: flex;
    gap: 50px;
    margin: 0px auto;
}

.my-page {
    margin: 20px 20px 20px 20px;
    padding: 20px;
    border-left: 1px solid rgb(221, 221, 221);
    border: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 1px solid rgb(221, 221, 221);
}

menu ol ul {
    list-style: none;
    display: flex;
    justify-content: center;
}


.add-list {
    box-shadow: gray 3px 3px 5px 1px;
    margin: 20px;
}

.add-list-3 {
    padding: 20px;
}









