<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camply.shop.productdetail.dao.ProductDetailDao">			
			<resultMap id="ShopDetail" type="com.camply.shop.common.vo.ProductVO">
			    <id property="productId" column="PRODUCT_ID"/>
		        <result property="productName" column="PRODUCT_NAME"/>
			    <result property="productDescription" column="PRODUCT_DESCRIPTION"/>
				<result property="productPrice" column="PRODUCT_PRICE"/>
				<result property="productCategory" column="PRODUCT_CATEGORY"/>
				<result property="productColor" column="PRODUCT_COLOR"/>
				<result property="productThumbnail" column="PRODUCT_THUMBNAIL"/>
				<result property="productMain" column="PRODUCT_MAIN"/>
				<result property="productMain2" column="PRODUCT_MAIN2"/>
				<result property="productMain3" column="PRODUCT_MAIN3"/>
				<result property="productContent" column="PRODUCT_CONTENT"/>
				<result property="productCreateDate" column="PRODUCT_CREATE_DATE"/>
				<result property="productStock" column="PRODUCT_STOCK"/>
				<result property="userId" column="USER_ID"/>
				<result property="productStatus" column="PRODUCT_STATUS"/>
				<result property="productCode" column="PRODUCT_CODE"/>
		</resultMap>
	<select id="getProductById" resultMap="ShopDetail" parameterType="int">
        SELECT * FROM shop_product WHERE product_id = #{productId}
    </select>
	</mapper>